<footer>
    <h1>Footer</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet velit voluptatem est minima voluptate explicabo dolorum, ullam minus quisquam expedita at ratione? Veniam expedita excepturi laborum esse voluptate tenetur dicta.</p>
</footer>